@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    font-family: 'Lato', sans-serif;
}

article {
    margin: auto;
    width: 950px;
    display: grid;
    grid-template-columns: 250px 700px;
    grid-template-rows: auto;
    grid-template-areas: "name summary" "history history";
}

@media screen and (max-width: 600px) {
    article {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "name" "summary" "history";
    }
}

section.name {
    grid-area: name;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.summary {
    grid-area: summary;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

section.history {
    grid-area: history;
}

#name {
    width: 200px;
    height: 300px;
}

a {
    color: rgb(212, 69, 0);
    text-decoration: none;
}

section.job {
    margin-top: 2em;
}

section.job > h1 {
    font-weight: 700
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

section.job > h1 > span.position {
    font-family: 'Lato', sans-serif;
    color: rgb(212, 69, 0);
}

section.job > h2 {
    font-weight: 300;
    font-size: 0.9em;
    text-transform: uppercase;
    margin-top: 0;
}

section.job > ul {
    padding-left: 4em;
}

section.job > ul > li {
    padding-bottom: 0.5em;
}
